:host {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

label {
  text-transform: uppercase;
  font-family: Cambria, Georgia, serif;
}

input[type="text"] {
  min-height: 35px;
  background-color: blanchedalmond;
  color: rgb(132, 22, 2);
  font-family: Cambria, Georgia, serif;
  border: 1px solid rgb(46, 1, 1);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 400;
  font-size: medium;
}
